<div class='col-sm-8 col-sm-offset-2'>
	<div class="row mac-search-form">
		<form class="form" ng-submit='goToDevice()'>
			<div class='col-sm-9'>
				<input class='mac-input' ng-model='mac' type='text' placeholder="Enter your MAC Address...">
			</div>
			<div class="col-sm-3">
				<button class="btn mac-search-button pull-right" type="submit">SEARCH</button>
			</div>
		</form>
	</div>
	<hr class='horizontal-line'>
	<div class="row" ng-if="device != null">
		<h2>{{ device.resinDevice.name }}</h2>
		<p ng-show="device.resinDevice.is_online">Status: {{ device.resinDevice.status }}</p>
		<p ng-hide="device.resinDevice.is_online">Status: Offline (last seen: {{ device.resinDevice.last_seen_time | timeAgo }})</p>
	</div>
	<div class="row" ng-if="device == null">
		<p>No device yet...</p>
	</div>
</div>
