<div class="row">
	<h2>Search device by MAC Address</h2>
	<form class="form form-inline" ng-submit="getDevice()">
		<input class='form-control' ng-model="macAddress" type='text'><button class="btn btn-info" type="submit">Search</button>
	</form>
</div>
<div class="row" ng-if="device != null">
	<h2>{{ device.resinDevice.name }}</h2>
	<p ng-show="device.resinDevice.is_online">Status: {{ device.resinDevice.status }}</p>
	<p ng-hide="device.resinDevice.is_online">Status: Offline (last seen: {{ device.resinDevice.last_seen_time | timeAgo }})</p>
</div>
<div class="row" ng-if="device == null">
	<p>No device yet...</p>
</div>
