<div class='col-xs-12'>
	<div class='row'>
		<form class='form form-horizontal' ng-submit="uploadFile()">
			<div class='form-group'>
				<label for='input-image'>Image to compare to:</label>
				<input type="file" id='input-image' ng-model='file' ngf-select /> 
			</div>
			<button class='btn btn-default' type="submit">Work!</button>
		</form>
	</div>
	<div class='row' ng-if='work.status != null'>
		<div class='col-sm-6'>
			<img ng-src='{{ "/images/" + work.targetImage.original_img }}'>
		</div>
		<div class='col-sm-6'>
			<img ng-src='{{ result.image }}'>
			<h2>{{result.name}}</h2>
		</div>
	</div>
</div>