body {
	padding-top: 90px;
	background: #0A1F2E;
	font-family: OpenSans-Semibold;
	font-weight: 500;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.logo {
	height: 30px;
	margin-top: -10px;
}

.landing-jumbotron {
	margin-top: -42px;
	padding-top: 30px;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 100%;
  min-height: 120px;
  text-align: center;
  padding-top: 25px;
  float: left;
  margin-left: 10px;
}

.uibox {
	background: #15354C;
	color: #FFFFFF;
	min-height: 140px;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
}

.uibox > h4 {
	opacity: 0.8;
	margin-left: 20px;
}

.table-header-box {
	background: #15354C;
	border-radius: 5px 5px 0px 0px;
	font-family: OpenSans-Bold,sans-serif;
	font-size: 17px;
	color: #FFFFFF;
	line-height: 23px;
	padding: 13px;
}

.number-in-box {
	text-align: center;
	font-size: 48;
}

.navbar {
	height: 48px;
	min-height: 48px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 0px;
}

.navbar-default {
	background: #FFFFFF;
	border-color: #FFFFFF;
}

.navbar-brand {
	height: 40px;
}

.nav > li > a {
	border-left: 1px solid rgba( 151, 151, 151, 0.22);
	min-width: 115px;
	text-align: center;
}

.nav > li:last-child > a {
	border-left: 1px solid rgba( 151, 151, 151, 0.22);
	border-right: 1px solid rgba( 151, 151, 151, 0.22);
}

.horizontal-line {
	opacity: 0.18;
	border: 1px solid #979797;
	margin-bottom: 40px;
}

.mac-input {
	/*opacity: 0.19;*/
	font-family: OpenSans-Semibold,sans-serif;
	font-size: 48px;
	color: #FFFFFF;
	background: #0A1F2E;
	border: 0px;
	width: 100%;
	line-height: 65px;
}

.mac-search-form {
	margin-top: 40px;
}
.mac-input::-webkit-input-placeholder {
	opacity: 0.19;
	font-family: OpenSans-Semibold,sans-serif;
	font-size: 48px;
	color: #FFFFFF;
}

.mac-input::-moz-placeholder {
	opacity: 0.19;
	font-family: OpenSans-Semibold,sans-serif;
	font-size: 48px;
	color: #FFFFFF;
}

.mac-input:focus {
	outline: 0;
}

.mac-search-button {
	background: #FFFFFF;
	border-radius: 3px;
	width: 178px;
	height: 54px;
	font-family: OpenSans-Bold,sans-serif;
	font-size: 19px;
	color: #020D15;
	letter-spacing: 1px;
	line-height: 26px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.ui-table>thead>tr>th {
	opacity: 0.34;
	font-family: OpenSans-Bold,sans-serif;
	font-size: 10px;
	color: #3B3B3B;
	letter-spacing: 1px;
	border: 1px solid rgba( 151, 151, 151, 0.22);
}

.ui-table>thead>tr {
	background: #E9E9E9;
	line-height: 14px;
}

.ui-table>tbody {
	background: #FFFFFF;
}

.ui-table>tbody>tr>td {
	font-family: OpenSans,sans-serif;
	font-size: 15px;
	color: #3B3B3B;
	line-height: 20px;
	border: 1px solid rgba( 151, 151, 151, 0.22);
}

.flag {
	margin-right: 10px;
}

.download-form {
	background: #15354C;
	color: #FFFFFF;
	min-height: 165px;
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.device-box {
	width: 15px;
	height: 15px;
	display: inline-block;
	border: 2px solid rgba( 151, 151, 151, 0.8);
}

.bg-white {
	background: #FFFFFF;
}

.box-step {
	padding: 15px;
}